{% extends 'base.html.twig' %}

{% import 'admin/blocks.html.twig' as blocks %}

{% block nav_left %}
	<li><a href="">AVALIAÇÃO</a></li>
{% endblock	%}

{% block body %}
	<div id="content">
		{% block content %}{% endblock %}
	</div>
{% endblock %}