{% extends 'admin/layout.html.twig' %}

{% block title title %}

{% block breadcrumbs %}
	{{ parent() }}
	<a href="{{ urladm ~ '/answer' }}">Respostas</a>
{% endblock %}

{% block content %}
	{{ blocks.heading('Respostas', title) }}
	{% block group %}{% endblock %}
{% endblock %}
