{% extends 'admin/layout.html.twig' %}

{% block title title %}

{% block breadcrumbs %}
	{{ parent() }}
	<a href="{{ urladm ~ '/questionnaire' }}">Questionário</a>
{% endblock %}

{% block content %}
	{{ blocks.heading('Questionário', title) }}
	{% block group %}{% endblock %}
{% endblock %}
