<h4>Opções de resposta</h4>

<label><b>Opções de resposta:</b> Insira cada opção em uma linha separada.</label>
<textarea style="height:120px;" name="alternatives"></textarea>

<label>
	<select name="min_choice">
		<option value="1">-- Quantidade mínima --</option>
		<option value="1">Pelo menos 1</option>
		<option value="2">Pelo menos 2</option>
		<option value="3">Pelo menos 3</option>
	</select>
</label>